# Pandas
pandas는 numpy기반으로 만들어진 패키지로, Series와 Dataframe이라는 효율적인 자료구조를 제공한다.

설치 `pip install pandas`

## Pandas Series
### Series 선언

In [5]:
import pandas as pd

data = pd.Series([0.25, 0.5, 0.75, 1.0])
print(data)
print(data.values)
print(data.index)

data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])  # 인덱스 지정
print(data)

population_dict = {'California': 38332521, 'Texas': 26448193, 'New York': 19651127, 'Florida': 19552860}
population = pd.Series(population_dict)  # 딕셔너리 형태로도 가능
print(population)
print(population['California'])
print(population['California':'New York'])

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)
a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64
38332521
California    38332521
Texas         26448193
New York      19651127
dtype: int64

### Series 데이터 선택

In [29]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
print(data['b'])  # 딕셔너리처럼 키:value 매핑
data['e'] = 1.25  # 새로운 데이터 추가 가능
print(data)

0.5
a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [30]:
print(data['a':'c']) # 명시적 인덱스로 슬라이싱
print(data[0:2])  # 암묵적 정수 인덱스로 슬라이싱
print(data[(data > 0.3) & (data < 0.8)])  # 마스킹
print(data[['a', 'e']])  # 팬시 인덱싱

a    0.25
b    0.50
c    0.75
dtype: float64
a    0.25
b    0.50
dtype: float64
b    0.50
c    0.75
dtype: float64
a    0.25
e    1.25
dtype: float64

In [31]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])  # 인덱스를 정수로 사용하는 경우 슬라이싱에 혼동
print(data[1])  # a가 나오는게 맞을까 b가 나오는게 맞을까?(명시적 인덱스 사용)
print(data[1:3])  # 슬라이싱할때는 암묵적 인덱스 사용
# 결과적으론 혼용하게 되어 혼동이 올 수 있다.

a
3    b
5    c
dtype: object

In [32]:
print(data.loc[1])
print(data.loc[1:3])  # loc 명시적 인덱스 참조
print(data.iloc[1])
print(data.iloc[1:3])  # iloc 암묵적 인덱스 참조

a
1    a
3    b
dtype: object
b
3    b
5    c
dtype: object

## Pandas DataFrame

In [16]:
population_dict = {'California': 38332521, 'Texas': 26448193, 'New York': 19651127, 'Florida': 19552860}
population = pd.Series(population_dict)
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312}
area = pd.Series(area_dict)

states = pd.DataFrame({'population':population, 'area':area})
print(states)
print(states.index)
print(states.columns)
print(states['area'])
states = pd.DataFrame(population, columns=['population'])  # 또다른 선언법, 위에 방법이 더 나은듯함
print(states)

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Index(['California', 'Texas', 'New York', 'Florida'], dtype='object')
Index(['population', 'area'], dtype='object')
California    423967
Texas         695662
New York      141297
Florida       170312
Name: area, dtype: int64
            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
                   0       1
California  38332521  423967
Texas       26448193  695662
New York    19651127  141297
Florida     19552860  170312

In [17]:
data = pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])
print(data)  # 누락된 자리를 Nan(not a number)로 채운다

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [21]:
# 리스트 형태의 데이터를 데이터프레임화 할때 사용
data = pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c'])
print(data)

a = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])  # 이런식으로 미리 데이터타입 정해둘수 있음
data = pd.DataFrame(a)
print(data)

        foo       bar
a  0.638455  0.445583
b  0.870392  0.007108
c  0.948372  0.835707
   A    B
0  0  0.0
1  0  0.0
2  0  0.0

### Pandas Index 객체
객체 데이터를 참조하고 수정하게 해주는 명시적 인덱스, 불변 배열이며, 중복된값을 포함할 수 있다.

In [22]:
index = pd.Index([2, 3, 5, 7, 11])
print(index)
print(index[1])
print(index[::2])
print(index.size, index.shape, index.ndim, index.dtype)

Int64Index([2, 3, 5, 7, 11], dtype='int64')
3
Int64Index([2, 5, 11], dtype='int64')
5 (5,) 1 int64

In [23]:
index[1] = 10  # 수정불가

TypeError: Index does not support mutable operations

In [27]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
# print(indA & indB)  # 교집합
# print(indA | indB)  # 합집합
# print(indA ^ indB)  # 여집합
print(pd.Index.intersection(indA, indB))  # 교집합
print(pd.Index.union(indA, indB))  # 합집합
print(pd.Index.symmetric_difference(indA, indB))  # 여집합

Int64Index([3, 5, 7], dtype='int64')
Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')
Int64Index([1, 2, 9, 11], dtype='int64')

### DataFrame 데이터 선택

In [34]:
population_dict = {'California': 38332521, 'Texas': 26448193, 'New York': 19651127, 'Florida': 19552860}
population = pd.Series(population_dict)
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312}
area = pd.Series(area_dict)

data = pd.DataFrame({'population':population, 'area':area})
print(data['area'])  # 딕셔너리 스타일 인덱싱 ok
print(data.area)  # 열이름을 이용해 속성으로 접근도 ok
print(data['area'] is data.area)  # 동일한 데이터임, 속성명이 이미 정의된 메소드와 겹칠경우 False(조심)

California    423967
Texas         695662
New York      141297
Florida       170312
Name: area, dtype: int64
California    423967
Texas         695662
New York      141297
Florida       170312
Name: area, dtype: int64
True

In [36]:
data['destiny'] = data['population'] / data['area']  # 새 열을 할당
print(data.values)  # 해시 데이터 기반 원시 데이터 배열 확인가능

print(data['area'])  # 열 접근
print(data.iloc[:3, :2])  # 암묵적 데이터 슬라이싱

[[3.83325210e+07 4.23967000e+05 9.04139261e+01]
 [2.64481930e+07 6.95662000e+05 3.80187404e+01]
 [1.96511270e+07 1.41297000e+05 1.39076746e+02]
 [1.95528600e+07 1.70312000e+05 1.14806121e+02]]
California    423967
Texas         695662
New York      141297
Florida       170312
Name: area, dtype: int64
            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297

In [38]:
print(data.loc[data.destiny > 100, ['population', 'destiny']])  # 다양한 표현법 결합 가능
print(data.iloc[0, [1,2]])

          population     destiny
New York    19651127  139.076746
Florida     19552860  114.806121
area       423967.000000
destiny        90.413926
Name: California, dtype: float64

### 유니버설 함수

In [2]:
import pandas as pd
import numpy as np

rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
print(ser)
df = pd.DataFrame(rng.randint(0, 10, (3, 4)), columns=['A', 'B', 'C', 'D'])
print(df)

print(np.sin(df * np.pi / 4))  # 판다스는 넘파이 기반이라 넘파이와 함께 작업될 수 있음

0    6
1    3
2    7
3    4
dtype: int32
   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4
          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

In [42]:
a = pd.DataFrame(rng.randint(0, 20, (2, 2)), columns=list('AB'))
b = pd.DataFrame(rng.randint(0, 10, (3, 3)), columns=list('BAC'))
print(a)
print(b)
print(a + b)  # 자동으로 인덱스 정렬, 합집합(비는 결과는 Nan처리)

fill = a.stack().mean()  # 평균
print(a.add(b, fill_value=fill))  # 빈값을 원하는 값으로 넣어주는것도 가능

    A   B
0  19   2
1   4  18
   B  A  C
0  6  4  8
1  6  1  3
2  8  1  9
      A     B   C
0  23.0   8.0 NaN
1   5.0  24.0 NaN
2   NaN   NaN NaN
       A      B      C
0  23.00   8.00  18.75
1   5.00  24.00  13.75
2  11.75  18.75  19.75

In [46]:
a = rng.randint(10, size=(3, 4))
a = pd.DataFrame(a, columns=list('QRST'))
print(a)
print(a-a.iloc[0])  # 데이터프레임과 시리즈간의 연산, 기본적으로 행방향으로 적용

   Q  R  S  T
0  7  6  8  7
1  4  1  4  7
2  9  8  8  0
   Q  R  S  T
0  0  0  0  0
1 -3 -5 -4  0
2  2  2  0 -7

In [49]:
print(a.subtract(a['R'], axis=0))  # axis로 명시하여 열방향도 ok

   Q  R  S  T
0  1  0  2  1
1  3  0  3  6
2  1  0  0 -8

In [50]:
halfrow = a.iloc[0, ::2]
print(halfrow)
print(a - halfrow)  # 브로드캐스팅 & 짝이 안맞는건 연산못하니 Nan처리

Q    7
S    8
Name: 0, dtype: int32
     Q   R    S   T
0  0.0 NaN  0.0 NaN
1 -3.0 NaN -4.0 NaN
2  2.0 NaN  0.0 NaN

### 누락된 데이터 처리

In [51]:
data = np.array([1, None, 3, 4])  # None은 파이썬 객체
print(data)  # 파이썬 객체는 일반적으로 많은 오버헤드가 발생해 느림

[1 None 3 4]

In [54]:
data = np.array([1, np.nan, 3, 4])  # Not a Number 표준 IEEE 부동소수점표기(특수 부동 소수점 값)
print(data.dtype)
print(1 + np.nan)
print(0 * np.nan)
print(data.sum(), data.min(), data.max())
print(np.nansum(data), np.nanmin(data), np.nanmax(data))

float64
nan
nan
nan nan nan
8.0 1.0 4.0

In [57]:
data = pd.Series([1, np.nan, 2, None]) # 판다스에서는 숫자의 경우 None도 Nan처리
print(data)

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [59]:
data = pd.Series(['a', np.nan, 'b', None])
print(data)  # dtype이 object, Boolean인 경우 None 또는 np.nan이고, float, integer의 경우 np.nan

0       a
1     NaN
2       b
3    None
dtype: object

In [60]:
data = pd.Series([1, np.nan, 'hello', None])
print(data.isnullll())  # None, Nan 다 True 반환

0    False
1     True
2    False
3     True
dtype: bool

In [61]:
print(data.notnull())  # 빈값이 아닌것 boolean
print(data.dropna())  # 빈값 드랍
print(data.fillna('Nope'))  # 빈값 채우기

0     True
1    False
2     True
3    False
dtype: bool
0        1
2    hello
dtype: object
0        1
1     Nope
2    hello
3     Nope
dtype: object

In [65]:
df = pd.DataFrame([[1, np.nan, 2],
                  [2, 3, 5],
                  [np.nan, 4, 6]])  # 2차원에서 dropna 작동
print(df, '\n')
print(df.dropna(), '\n')  # 행 기준 제거
print(df.dropna(axis='columns'))  # 열기준 제거

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

     0    1  2
1  2.0  3.0  5

   2
0  2
1  5
2  6

In [68]:
df[3] = np.nan
print(df, '\n')
print(df.dropna(axis=1, how='all'), '\n')  # how= all->전부 Nan인 경우, any-> 하나라도 Nan인 경우
print(df.dropna(axis=1, thresh=3))  # thresh=최소 x개의 nan이 아닌 값이있는 axis

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

   2
0  2
1  5
2  6

In [69]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
print(data, '\n')
print(data.fillna(0), '\n')
print(data.fillna(method='ffill'))  # 이전 값으로 채우기
print(data.fillna(method='bfill'))  # 다음에 오는 값으로 채우기

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64
a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

### 계층적 인덱싱
단일 인덱스 내에 여러 인덱스 레벨을 포함하는 계층적 인덱싱(다중 인덱싱)으로 다차원 데이터를 1차원 Series, 2차원 Dataframe 객체로 간결하게 표현

In [73]:
index = [('California', 2000), ('California', 2010), ('New York', 2000), ('New York', 2010), ('Texas', 2000), ('Texas', 2010)]

index = pd.MultiIndex.from_tuples(index)
print(index)  # level=[['California', 'New York', 'Texas'], [2000,2010]], labels=[[0, 0, 1, 1, 2, 2,], [0, 1, 0, 1, 0, 1]]

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [74]:
population = [3387, 37253, 1123, 4334, 23123, 21123]
pop = pd.Series(population, index=index)
print(pop)

California  2000     3387
            2010    37253
New York    2000     1123
            2010     4334
Texas       2000    23123
            2010    21123
dtype: int64

In [75]:
print(pop[:, 2010])

California    37253
New York       4334
Texas         21123
dtype: int64

In [76]:
pop_df = pop.unstack()  # 멀티인덱스를 DataFrame으로 쉽게 저장 가능
print(pop_df)  # 반대되는 연산은 stack()

             2000   2010
California   3387  37253
New York     1123   4334
Texas       23123  21123

In [77]:
df = pd.DataFrame(np.random.rand(4, 2), index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], columns=['data1', 'data2']) # MultiIndex 선언법
print(df)

        data1     data2
a 1  0.823451  0.641704
  2  0.416564  0.665171
b 1  0.996951  0.025642
  2  0.555297  0.980211

In [78]:
pop.index.names = ['state', 'year']  # 멀티인덱스 이름 지정
print(pop)

state       year
California  2000     3387
            2010    37253
New York    2000     1123
            2010     4334
Texas       2000    23123
            2010    21123
dtype: int64

In [81]:
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]], names=['year', 'visit'])  # 열도 multiIndex 가능
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']], names=['subject', 'type'])
data = np.round(np.random.randn(4, 6), 1)
data[:, ::2] *= 10
health_data = pd.DataFrame(data, index=index, columns=columns)
print(health_data)

subject      Bob      Guido       Sue
type          HR Temp    HR Temp   HR Temp
year visit
2013 1      -5.0  0.6 -14.0 -1.3  4.0 -0.3
     2      26.0  0.1  27.0 -0.4 -4.0 -1.8
2014 1      -4.0 -0.7 -10.0 -0.9  5.0 -0.8
     2      -7.0 -1.3  -8.0  0.7 -4.0 -1.3

In [84]:
# MultiIndex 인덱싱 및 슬라이싱 Series
print(pop['California', 2000], '\n') # 여러 용어로 단일 요소에 접근
print(pop['California'], '\n')
print(pop['California':'New York'], '\n') # 슬라이싱
print(pop[:, 2000], '\n')
print(pop[pop > 5000], '\n')

3387

year
2000     3387
2010    37253
dtype: int64

state       year
California  2000     3387
            2010    37253
New York    2000     1123
            2010     4334
dtype: int64

state
California     3387
New York       1123
Texas         23123
dtype: int64

state       year
California  2010    37253
Texas       2000    23123
            2010    21123
dtype: int64

In [86]:
# MultiIndex 인덱싱 및 슬라이싱 DataFrame
print(health_data, '\n')
print(health_data['Guido', 'HR'], '\n')
print(health_data.iloc[:2, :2], '\n')
print(health_data.loc[:, ('Bob', 'HR')], '\n')

idx = pd.IndexSlice  # 슬라이스를 명시적으로 하는 경우
print(health_data.loc[idx[:, 1], idx[:, 'HR']])

subject      Bob      Guido       Sue
type          HR Temp    HR Temp   HR Temp
year visit
2013 1      -5.0  0.6 -14.0 -1.3  4.0 -0.3
     2      26.0  0.1  27.0 -0.4 -4.0 -1.8
2014 1      -4.0 -0.7 -10.0 -0.9  5.0 -0.8
     2      -7.0 -1.3  -8.0  0.7 -4.0 -1.3

year  visit
2013  1       -14.0
      2        27.0
2014  1       -10.0
      2        -8.0
Name: (Guido, HR), dtype: float64

subject      Bob
type          HR Temp
year visit
2013 1      -5.0  0.6
     2      26.0  0.1

year  visit
2013  1        -5.0
      2        26.0
2014  1        -4.0
      2        -7.0
Name: (Bob, HR), dtype: float64

subject     Bob Guido  Sue
type         HR    HR   HR
year visit
2013 1     -5.0 -14.0  4.0
2014 1     -4.0 -10.0  5.0

In [87]:
print(pop, '\n')
print(pop.unstack(level=0), '\n')
print(pop.unstack(level=1), '\n')

state       year
California  2000     3387
            2010    37253
New York    2000     1123
            2010     4334
Texas       2000    23123
            2010    21123
dtype: int64

state  California  New York  Texas
year
2000         3387      1123  23123
2010        37253      4334  21123

year         2000   2010
state
California   3387  37253
New York     1123   4334
Texas       23123  21123

In [88]:
pop_flat = pop.reset_index(name='population')
print(pop_flat)

        state  year  population
0  California  2000        3387
1  California  2010       37253
2    New York  2000        1123
3    New York  2010        4334
4       Texas  2000       23123
5       Texas  2010       21123

In [90]:
print(pop_flat.set_index(['state', 'year']))

                 population
state      year
California 2000        3387
           2010       37253
New York   2000        1123
           2010        4334
Texas      2000       23123
           2010       21123

### 데이터 세트 결합 Concat, Append

In [91]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
print(pd.concat([ser1, ser2]))

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [93]:
df1 = pd.DataFrame({'A':['A0', 'A1'], 'B':['B0', 'B1']})
df2 = pd.DataFrame({'C':['C0', 'C1'], 'D':['D0', 'D1']})
print(pd.concat([df1, df2], axis=0), '\n')
print(pd.concat([df1, df2], axis=1))

     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
0  NaN  NaN   C0   D0
1  NaN  NaN   C1   D1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1

In [96]:
# verify_integrity=True 중복되는 정수 인덱스가 있을 경우 에러 발생
print(pd.concat([df1, df2], axis=0, verify_integrity=True), '\n')

ValueError: Indexes have overlapping values: Int64Index([0, 1], dtype='int64')

In [98]:
print(pd.concat([df1, df2], axis=0, join='inner'))  # join='inner' 교집합

Empty DataFrame
Columns: []
Index: [0, 1, 0, 1]

In [100]:
print(df1.append(df2))  # extend와 다르게 새로운 결합된 데이터를 만듬

     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
0  NaN  NaN   C0   D0
1  NaN  NaN   C1   D1

### Merge & Join으로 데이터 결합

In [3]:
df1 = pd.DataFrame({'emploee': ['Bob', 'Jake', 'Lisa', 'Sue'], 'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'emploee': ['Lisa', 'Bob', 'Jake', 'Sue'], 'hire_data': [2004, 2008, 2012, 2014]})
df3 = pd.merge(df1, df2)  # 공통분모 다른 칼럼 병합
print(df3)

  emploee        group  hire_data
0     Bob   Accounting       2008
1    Jake  Engineering       2012
2    Lisa  Engineering       2004
3     Sue           HR       2014

In [104]:
# 다대일 조인
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'], 'supervisor': ['Carly', 'Guido', 'Steve']})
print(pd.merge(df3, df4))

  emploee        group  hire_data supervisor
0     Bob   Accounting       2008      Carly
1    Jake  Engineering       2012      Guido
2    Lisa  Engineering       2004      Guido
3     Sue           HR       2014      Steve

In [105]:
# 다대다 조인
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting', 'Engineering', 'Engineering', 'HR', 'HR'], 'skills': ['math', 'spreadsheets', 'coding', 'linux', 'spreadsheets', 'organization']})
print(pd.merge(df1, df5))

  emploee        group        skills
0     Bob   Accounting          math
1     Bob   Accounting  spreadsheets
2    Jake  Engineering        coding
3    Jake  Engineering         linux
4    Lisa  Engineering        coding
5    Lisa  Engineering         linux
6     Sue           HR  spreadsheets
7     Sue           HR  organization

### 병합 키 지정

In [5]:
print(df1, '\n')
print(df2, '\n')
print(pd.merge(df1, df2, on='emploee')) # 열 이름을 명시적으로 지정

  emploee        group
0     Bob   Accounting
1    Jake  Engineering
2    Lisa  Engineering
3     Sue           HR

  emploee  hire_data
0    Lisa       2004
1     Bob       2008
2    Jake       2012
3     Sue       2014

  emploee        group  hire_data
0     Bob   Accounting       2008
1    Jake  Engineering       2012
2    Lisa  Engineering       2004
3     Sue           HR       2014

In [9]:
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'], 'salary': [70000, 80000, 120000, 90000]})
print(pd.merge(df1, df3, left_on='emploee', right_on='name')) # 다른 이름의 같은 역할을 하는 열 각각 지정해서 키워드로 ok
# .drop('name', axis=1)  # 역할이 겹치므로 삭제

  emploee        group  name  salary
0     Bob   Accounting   Bob   70000
1    Jake  Engineering  Jake   80000
2    Lisa  Engineering  Lisa  120000
3     Sue           HR   Sue   90000

In [54]:
df1a = df1.set_index('emploee')
df2a = df2.set_index('emploee')
print(df1a)
print(df1a['Lisa':])
print(df1a.loc['Lisa', 'group'])  # 콤마로 레벨 다르게
print(df1a.xs('Lisa').xs('group',axis=0))  # 멀티 인덱스 어렵...

               group
emploee
Bob       Accounting
Jake     Engineering
Lisa     Engineering
Sue               HR
               group
emploee
Lisa     Engineering
Sue               HR
Engineering
Engineering

In [45]:
print(pd.merge(df1a, df2a, left_index=True, right_index=True))  # 좌우 인덱스를 지정해 병합키 인덱스로 사용 가능

               group  hire_data
emploee
Bob       Accounting       2008
Jake     Engineering       2012
Lisa     Engineering       2004
Sue               HR       2014

In [46]:
print(df1a.join(df2a))  # join사용하면 기본적인 인덱스 기반으로 조인함

               group  hire_data
emploee
Bob       Accounting       2008
Jake     Engineering       2012
Lisa     Engineering       2004
Sue               HR       2014

In [47]:
df8 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                   'rank': [1, 2, 3, 4]})
df9 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                   'rank': [3, 1, 4, 2]})
print(pd.merge(df8, df9, on="name"))  # 열이 겹치는 경우 _x, _y 접미사 붙임

   name  rank_x  rank_y
0   Bob       1       3
1  Jake       2       1
2  Lisa       3       4
3   Sue       4       2

In [48]:
print(pd.merge(df8, df9, on="name", suffixes=['_L', '_R']))  # 접미사 정의 가능

   name  rank_L  rank_R
0   Bob       1       3
1  Jake       2       1
2  Lisa       3       4
3   Sue       4       2

### 집계 & 분류

In [56]:
import seaborn as sns
planets = sns.load_dataset('planets')
print(planets.shape)
print(planets.head()) # 외계행성 데이터

(1035, 6)
            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [59]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.rand(5))

print(ser.sum())  # 합
print(ser.cumsum()) # 누적합
print(ser.prod())  # 전체 항목의 곱
print(ser.mean())  # 평균
print(ser.median())  # 중앙값
print(ser.mad())  # 평균 절대편차
print(ser.var())  # 분산
print(ser.std())  # 표준편차
print(ser.count())  # 갯수
print(ser.describe())  # 요약 정보

2.811925491708157
0    0.374540
1    1.325254
2    2.057248
3    2.655907
4    2.811925
dtype: float64
0.02434509596197801
0.5623850983416314
0.5986584841970366
0.23768457495738549
0.09532548164256274
0.30874824961862174
5
count    5.000000
mean     0.562385
std      0.308748
min      0.156019
25%      0.374540
50%      0.598658
75%      0.731994
max      0.950714
dtype: float64

In [58]:
planets.dropna().describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

### GroupBy : 분할, 적용, 결합
* 분할 : 지정된 키 값을 기준으로 DataFrame을 나누고 분류하는 단계
* 적용 : 개별 그룹 내에서 일반적으로 집계, 변환, 필터링 같은 함수 계산
* 결합 : 연산의 결과를 결과 배열에 병합

In [61]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'], 'data': range(6)}, columns=['key', 'data'])
print(df)
df.groupby('key')
df.groupby('key').sum()

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

     data
key
A       3
B       5
C       7

In [62]:
method = planets.groupby('method')
print(method['orbital_period'])  # 데이터프레임그룹 -> 시리즈그룹으로 반환

<pandas.core.groupby.generic.SeriesGroupBy object at 0x0000020FA15D9520>

In [63]:
method['orbital_period'].median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

In [64]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'], 'data1':range(6), 'data2':rng.randint(0, 10, 6)}, columns=['key', 'data1', 'data2'])
print(df)

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [65]:
df.groupby('key').aggregate(['min', np.median, max])  # 문자열, 함수, 리스트 등을 집계 계산

    data1            data2
      min median max   min median max
key
A       0    1.5   3     3    4.0   5
B       1    2.5   4     0    3.5   7
C       2    3.5   5     3    6.0   9

In [66]:
df.groupby('key').aggregate({'data1': 'min', 'data2': 'max'})  # 딕셔너리 형태로 지정도 ok

     data1  data2
key
A        0      5
B        1      7
C        2      9

In [68]:
def filter_func(x):
    return x['data2'].std() > 4
print(df.groupby('key').std())
print(df.groupby('key').filter(filter_func))  # 정의한 함수 기준으로 필터링 가능 따라서 std가 4보다작은 key가 A인것은 제거

       data1     data2
key
A    2.12132  1.414214
B    2.12132  4.949747
C    2.12132  4.242641
  key  data1  data2
1   B      1      0
2   C      2      3
4   B      4      7
5   C      5      9

In [69]:
df.groupby('key').transform(lambda x: x - x.mean())  # 데이터 총괄 연산도 가능

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

In [70]:
def norm_by_data2(x):
    x['data1'] /= x['data2'].sum()
    return x

df.groupby('key').apply(norm_by_data2)  # data1/ data2그룹의 합

  key     data1  data2
0   A  0.000000      5
1   B  0.142857      0
2   C  0.166667      3
3   A  0.375000      3
4   B  0.571429      7
5   C  0.416667      9

In [71]:
L = [0, 1, 0, 1, 2, 0]  # 각 엘리먼트의 그룹을 숫자로 정해줄수도 있음
df.groupby(L).sum()

   data1  data2
0      7     17
1      4      3
2      4      7

In [72]:
df2 = df.set_index('key')
mapping = { 'A': 'vowel', 'B': 'consonant', 'C': 'consonant'}
print(df2.groupby(mapping).sum())  # 딕셔너리 형태로 매핑도 가능!

           data1  data2
consonant     12     19
vowel          3      8

In [73]:
df2.groupby(str.lower).mean()  # 대문자를 소문자로 ok

   data1  data2
a    1.5    4.0
b    2.5    3.5
c    3.5    6.0

### 피벗 테이블
GroupBy 집계의 다차원 버전

In [74]:
import numpy as np
import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [75]:
titanic.groupby('sex')[['survived']].mean()  # 성별에 따른 생존율

        survived
sex
female  0.742038
male    0.188908

In [78]:
titanic.groupby(['sex', 'class'])['survived'].aggregate('mean').unstack()  # 숨겨진 다차원성을 나타낼수 있음

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [79]:
titanic.pivot_table('survived', index='sex', columns='class')  # 위와 동일한 연산

class      First    Second     Third
sex
female  0.968085  0.921053  0.500000
male    0.368852  0.157407  0.135447

In [80]:
age = pd.cut(titanic['age'], [0, 18, 80])
titanic.pivot_table('survived', ['sex', age], 'class')  # 연령 기준추가 가능

class               First    Second     Third
sex    age
female (0, 18]   0.909091  1.000000  0.511628
       (18, 80]  0.972973  0.900000  0.423729
male   (0, 18]   0.800000  0.600000  0.215686
       (18, 80]  0.375000  0.071429  0.133663

In [81]:
fare = pd.qcut(titanic['fare'], 2)  # 열 기준
titanic.pivot_table('survived', ['sex', age], [fare, 'class'])

fare            (-0.001, 14.454]                     (14.454, 512.329]  \
class                      First    Second     Third             First
sex    age
female (0, 18]               NaN  1.000000  0.714286          0.909091
       (18, 80]              NaN  0.880000  0.444444          0.972973
male   (0, 18]               NaN  0.000000  0.260870          0.800000
       (18, 80]              0.0  0.098039  0.125000          0.391304

fare
class              Second     Third
sex    age
female (0, 18]   1.000000  0.318182
       (18, 80]  0.914286  0.391304
male   (0, 18]   0.818182  0.178571
       (18, 80]  0.030303  0.192308

In [83]:
titanic.pivot_table(index='sex', columns='class', aggfunc={'survived': sum, 'fare': 'mean'}) # 집계방식 매핑

              fare                       survived
class        First     Second      Third    First Second Third
sex
female  106.125798  21.970121  16.118810       91     70    72
male     67.226127  19.741782  12.661633       45     17    47

### Pandas 문자열

In [84]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam', 'Eric Idle', 'Terry Jones', 'Michael Palin'])

In [85]:
monte.str.lower()  # 소문자로 변환

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [86]:
monte.str.len()  # 문자열 길이

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [88]:
monte.str.startswith('T')  # 'T'ㄹ 시작하는가?

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [89]:
monte.str.split()  # 분할

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object

In [90]:
monte.str.extract('([A-Za-z]+)')  # re.match()를 호출해 매칭된 그룹 반환

         0
0   Graham
1     John
2    Terry
3     Eric
4    Terry
5  Michael

In [91]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')  # 자음으로 시작해서 끝나는 이름

0    [Graham Chapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5     [Michael Palin]
dtype: object

In [93]:
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mic
dtype: object

In [95]:
monte.str.split().str.get(-1)

0    Chapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

In [97]:
full_monte = pd.DataFrame({'name': monte, 'info': ['B|C|D', 'B|D', 'A|C', 'B|D', 'B|C', 'B|C|D']})
full_monte

             name   info
0  Graham Chapman  B|C|D
1     John Cleese    B|D
2   Terry Gilliam    A|C
3       Eric Idle    B|D
4     Terry Jones    B|C
5   Michael Palin  B|C|D

In [98]:
full_monte['info'].str.get_dummies('|')  # | 기준으로 문자열들 갯수 나눔

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

### 시계열 다루기

In [100]:
from datetime import datetime
print(datetime(year=2015, month=7, day=4))
from dateutil import parser
date = parser.parse("4th of July, 2021")
print(date)
print(date.strftime("%A"))

2015-07-04 00:00:00
2021-07-04 00:00:00
Sunday

In [101]:
import numpy as np
date = np.array('2020-08-04', dtype=np.datetime64)
print(date)

2020-08-04

In [102]:
date + np.arange(12)

array(['2020-08-04', '2020-08-05', '2020-08-06', '2020-08-07',
       '2020-08-08', '2020-08-09', '2020-08-10', '2020-08-11',
       '2020-08-12', '2020-08-13', '2020-08-14', '2020-08-15'],
      dtype='datetime64[D]')

In [103]:
np.datetime64('2020-12-12 12:00', 'ns')  # 단위 나노초

numpy.datetime64('2020-12-12T12:00:00.000000000')

In [105]:
import pandas as pd

date = pd.to_datetime('4th of July, 2020')
date

Timestamp('2020-07-04 00:00:00')

In [106]:
date.strftime('%A')

'Saturday'

In [107]:
date + pd.to_timedelta(np.arange(12), 'D')

DatetimeIndex(['2020-07-04', '2020-07-05', '2020-07-06', '2020-07-07',
               '2020-07-08', '2020-07-09', '2020-07-10', '2020-07-11',
               '2020-07-12', '2020-07-13', '2020-07-14', '2020-07-15'],
              dtype='datetime64[ns]', freq=None)

In [108]:
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04', '2015-07-04', '2015-08-04'])
data = pd.Series([0, 1, 2, 3], index=index)
data

2014-07-04    0
2014-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64

In [109]:
data['2014-08':]

2014-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64

In [111]:
data['2015']

2015-07-04    2
2015-08-04    3
dtype: int64

In [112]:
pd.date_range('2015-07-03', '2015-07-13')

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10',
               '2015-07-11', '2015-07-12', '2015-07-13'],
              dtype='datetime64[ns]', freq='D')

In [113]:
pd.date_range('2015-07-03', periods=8)

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10'],
              dtype='datetime64[ns]', freq='D')

In [114]:
pd.date_range('2015-07-03', periods=8, freq='H')  # 기본 주기 H로 바꾸기

DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 01:00:00',
               '2015-07-03 02:00:00', '2015-07-03 03:00:00',
               '2015-07-03 04:00:00', '2015-07-03 05:00:00',
               '2015-07-03 06:00:00', '2015-07-03 07:00:00'],
              dtype='datetime64[ns]', freq='H')

In [115]:
pd.date_range('2015-07-03', periods=8, freq='2H30T')  # 다양하게 주기 바꾸기 ok

DatetimeIndex(['2015-07-03 00:00:00', '2015-07-03 02:30:00',
               '2015-07-03 05:00:00', '2015-07-03 07:30:00',
               '2015-07-03 10:00:00', '2015-07-03 12:30:00',
               '2015-07-03 15:00:00', '2015-07-03 17:30:00'],
              dtype='datetime64[ns]', freq='150T')

### Pandas : eval()과 query()로 빠른 연산처리

In [116]:
import numpy as np
rng = np.random.RandomState(42)
x = rng.rand(1000000)
y = rng.rand(1000000)
%timeit x + y

4.89 ms ± 127 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [118]:
%timeit np.fromiter((xi + yi for xi, yi in zip(x,y)), dtype=x.dtype, count=len(x))

252 ms ± 11.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [120]:
# 큰 배열은 numpy보다 numexpr이 더 유리 메모리를 따로 할당하지 않고 표현식 평가 eval, query가 numexpr라이브러리 사용
df1, df2, df3, df4, df5 = (pd.DataFrame(rng.randint(0, 1000, (100, 3))) for i in range(5))
result1 = -df1 * df2 / (df3 + df4) - df5
result2 = pd.eval('-df1 * df2 / (df3 + df4) - df5')
np.allclose(result1, result2)

True

In [122]:
df = pd.DataFrame(rng.rand(1000, 3), columns=['A', 'B', 'C'])
result1 = (df['A'] + df['B']) / (df['C'] - 1)
result2 = pd.eval("(df.A + df.B) / (df.C - 1)")
np.allclose(result1, result2)

True

In [123]:
Cmean = df['C'].mean()
result1 = df[(df.A < Cmean) & (df.B < Cmean)]
result2 = df.query('A < @Cmean and B < @Cmean')  # 지역변수 옆에 @
np.allclose(result1, result2)

True